.col-md-12 img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
#back{
    width: 100px;
    height: 100px;
    background: url("../img/homer-simpson.svg") no-repeat;
    background-size: cover;
}
polygon:hover{
	fill: red;
	stroke: black;
}

